@import "../../Util/util";

.mainContentRoot{
    display : grid;
    gap : 20px;
    @include desktop{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    @include mobile{
        gap : 10px;
        justify-content: center;
    }
    &_item{
        width: 80%;
        position: relative;
        height: 100px;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
        text-align: start;
        padding : 10%;
        &:before {
            z-index: -1;
            content: "";
            height: 100%;
            position: absolute;
            background-image: url(/img/deliver.png);
            background-repeat: no-repeat;
            background-size: 125px;
            background-position: 110% 10px;
            @include mobile{
                background-position: 110% -10px;
            }
            opacity: 0.2;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
        &:hover {
            &:before {
              transition-duration: 0.5s;
              background-position: 100% 10px;
              background-color: #f9f9f9;
            }
          }
        @include mobile{
            height : 30px;
            padding : 20px;
        }
        .itemTitle{
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 15px;
            @include mobile{
                display: flex;
                align-items: center;
            }
        }
        .itemDescription{
            opacity: 0.6;
            @include mobile{
                display: none;
            }
        }
    }
    
}