@import "/src/Util/util";
.mainTitle{
    margin-top : 150px;
    @include mobile {
        margin-top : 150px;
    }
    font-size: 50px;
    font-weight: 600;
}
.mainDescription{ 
    margin-top: 15px;

}