@import "../../Util/util";

.box{
    margin-top: 25px;
    margin-bottom : 25px;
    padding: 0 25px;
    @include mobile{
        padding: 0;
    }
    font-family: "NOTO SANS KR";
}

button{
    cursor : pointer;
}

.detailHedaer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size : 20px;
    font-weight: bold;
    padding : 0 15px;
    @include mobile{
        gap : 10px;
        flex-flow: wrap;
    }
    .acceptbtn{
        background: #0a5ca8;
        color : white;
        border : 0.5px solid #0a5ca8;
        border-radius: 4px;
        padding : 10px 20px;
        margin-right: -15px;
    }
}

.pickUpPos{
    font-size : 20px;
    font-weight: bold;
    padding : 0 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.detailContent{
    background: #F5F5F5;
    margin-top : 20px;
    margin-bottom : 20px;
    padding : 20px;
    font-weight: normal;
}

