@import "../../Util/util";
.signUpBox{
    margin-top : 50px;
    input{
        @include input;
        margin-bottom: 10px;
    }
    .nicknameArea{
        input{
            width : 225px;
            margin-right: 10px;
        }
        button{
            margin-bottom: 15px;
            cursor: pointer;
            border : none;
            border-radius: 4px;
            color : white;
            background: #0a5ca8;
            width : 65px;
            height: 50px; 
        }
    }
    .signUpBtn{
        margin-bottom: 15px;
        cursor: pointer;
        border : none;
        border-radius: 4px;
        color : white;
        background: #0a5ca8;
        width : 360px;
        height: 50px;
    }
    .checkMsg{
        color : red;
        font-size: 15px;
        margin-bottom: 10px;
    }
}