@import "../../Util/util";
.registerRoot{
    margin-top: 125px;
    text-align: center;
    padding : 0 20%;
    @include mobile{
        padding : 0 20px;
    }
    .title{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .registerContent{
        margin-left : 250px;
        @include mobile{
            margin-left : 0px;
        }
    }

    .classification{
        //margin: 0 auto;
        display : flex;
        align-items: center;
        gap : 57px;
        margin-bottom: 25px;
    }
    .detailItem{
        display: flex;
        align-items: center;
        gap : 30px;
        margin-bottom: 25px;
        input{
            padding: 16.5px 14px;
            border-radius: 4px;
            width: 230px;
            border : 0.5px solid lightgrey;
        }
    }
    .deliveryPrice{
        display: flex;
        align-items: center;
        gap : 45px;
        margin-bottom: 25px;
        input{
            padding: 16.5px 14px;
            border-radius: 4px;
            width: 230px;
            border : 0.5px solid lightgrey;
        }
    }
    .requirements{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mobile{
            margin-top : 50px;
        }
        textarea{
            margin-top: 15px;
            width : 315px;
            height : 200px;
            padding : 15px;
            font-size : 15px;
            border : 0.5px solid lightgrey;
        }
    }

    .nextBtn
    {   
        margin-top: 15px;
        display: flex;
        button{
            font-size: 15px;
            width : 345px;
            padding : 15px;
            border : 1px solid #0a5ca8;
            border-radius: 4px;
            background: #0a5ca8;
            color : white;
        }
    }
}